Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Calendly_Routing_Form_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Company_Name</name>
        <label>Assign Company Name</label>
        <locationX>1144</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>CompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Answers_Loop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Name</name>
        <label>Assign Lead Name</label>
        <locationX>1829</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Lead_First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Company_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Interest</name>
        <label>Assign Product Interest</label>
        <locationX>1829</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>var_ProductInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaProductInterest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_information_or_comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Telegram</name>
        <label>Assign Telegram</label>
        <locationX>1829</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>var_Telegram</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Answers_Loop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_you_are_interested_to_hear_more_of</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Company_Name</name>
        <label>Assign Company Name</label>
        <locationX>1829</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>CompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Answers_Loop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Telegram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summary_of_AE_Notes_Assignment</name>
        <label>Summary of AE Notes Assignment</label>
        <locationX>1829</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>var_SummaryAENotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_Answers_Loop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Answers_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_information_or_comments</name>
        <label>Additional information or comments:</label>
        <locationX>1961</locationX>
        <locationY>2232</locationY>
        <defaultConnector>
            <targetReference>Question_Answers_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Additional_information_or_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional information or comments:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary_of_AE_Notes_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Name</name>
        <label>Company Name</label>
        <locationX>1276</locationX>
        <locationY>2832</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Name Not Found</defaultConnectorLabel>
        <rules>
            <name>Company_Name_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Questions.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Name</targetReference>
            </connector>
            <label>Company Name Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_Converted</name>
        <label>Contact Exists? (Converted)</label>
        <locationX>974</locationX>
        <locationY>3864</locationY>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_Email</name>
        <label>Contact Exists? (Email)</label>
        <locationX>1056</locationX>
        <locationY>3324</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_SFID</name>
        <label>Contact Exists? (SFID)</label>
        <locationX>538</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_SFID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Company_Name</name>
        <label>Name of your project</label>
        <locationX>1961</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Telegram</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Name Not Found</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Company_Name_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name of your project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Company_Name</targetReference>
            </connector>
            <label>Company Name Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exists</name>
        <label>Email Exists?</label>
        <locationX>1741</locationX>
        <locationY>2616</locationY>
        <defaultConnectorLabel>Email Not Found</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Questions</targetReference>
            </connector>
            <label>Email Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Converted</name>
        <label>Lead Converted?</label>
        <locationX>1172</locationX>
        <locationY>3648</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Associate_Submission_To_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Converted</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Contact</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists_Email</name>
        <label>Lead Exists? (Email)</label>
        <locationX>1535</locationX>
        <locationY>3540</locationY>
        <defaultConnector>
            <targetReference>Calendly_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Not Found</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists_SFID</name>
        <label>Lead Exists? (SFID)</label>
        <locationX>1027</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Questions_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Not Found</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Submission_To_Lead</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Exists_Loop</name>
        <label>Name Exists? (Loop)</label>
        <locationX>1961</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Company_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Not Found</defaultConnectorLabel>
        <rules>
            <name>Name_Found_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Name</targetReference>
            </connector>
            <label>Name Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Exists</name>
        <label>Profile Exists?</label>
        <locationX>1898</locationX>
        <locationY>3756</locationY>
        <defaultConnectorLabel>Profile Not Found</defaultConnectorLabel>
        <rules>
            <name>Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calendly_Profile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_you_are_interested_to_hear_more_of</name>
        <label>Service you are interested to hear more of</label>
        <locationX>1961</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Additional_information_or_comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service you are interested to hear more of Not Found</defaultConnectorLabel>
        <rules>
            <name>Service_you_are_interested_to_hear_more_of_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service you are interested to hear more of:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Interest</targetReference>
            </connector>
            <label>Service you are interested to hear more of Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Exists</name>
        <label>SFID Exists?</label>
        <locationX>1878</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Questions_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID Not Found</defaultConnectorLabel>
        <rules>
            <name>SFID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__SalesforceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_SFID</targetReference>
            </connector>
            <label>SFID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telegram</name>
        <label>Telegram</label>
        <locationX>1961</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Service_you_are_interested_to_hear_more_of</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Telegram Not Found</defaultConnectorLabel>
        <rules>
            <name>Telegram_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telegram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Telegram</targetReference>
            </connector>
            <label>Telegram Found</label>
        </rules>
    </decisions>
    <description>June 20 - Prev version is 8</description>
    <environments>Default</environments>
    <formulas>
        <name>First_Name_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(TRIM({!Question_Answers_Loop.Calendly__Answer__c}), &quot; &quot;),
  LEFT(
    TRIM({!Question_Answers_Loop.Calendly__Answer__c}),
    FIND(&quot; &quot;, TRIM({!Question_Answers_Loop.Calendly__Answer__c})) - 1
  ),
  TRIM({!Question_Answers_Loop.Calendly__Answer__c})
)</expression>
    </formulas>
    <formulas>
        <name>FormulaProductInterest</name>
        <dataType>String</dataType>
        <expression>IF({!Question_Answers_Loop.Calendly__Answer__c} == &apos;Private Program&apos;, &apos;Boost&apos;, IF({!Question_Answers_Loop.Calendly__Answer__c} == &apos;Bug Bounty Subscription&apos;,  &apos;Bug Bounty Program&apos; ,{!Question_Answers_Loop.Calendly__Answer__c}))</expression>
    </formulas>
    <formulas>
        <name>Last_Name_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(TRIM({!Question_Answers_Loop.Calendly__Answer__c}), &quot; &quot;),
  TRIM(
    MID(
      TRIM({!Question_Answers_Loop.Calendly__Answer__c}),
      FIND(&quot; &quot;, TRIM({!Question_Answers_Loop.Calendly__Answer__c})),
      LEN({!Question_Answers_Loop.Calendly__Answer__c})
    )
  ),
  &quot;NotProvided&quot;
)</expression>
    </formulas>
    <interviewLabel>Calendly Routing Form Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendly Routing Form Lead</label>
    <loops>
        <name>Loop_for_Questions</name>
        <label>Loop for Questions</label>
        <locationX>1056</locationX>
        <locationY>2724</locationY>
        <collectionReference>Current_Questions_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Company_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Question_Answers_Loop</name>
        <label>Question/Answers Loop</label>
        <locationX>1741</locationX>
        <locationY>924</locationY>
        <collectionReference>Current_Questions_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_Exists_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>1634</locationX>
        <locationY>3864</locationY>
        <assignRecordIdToReference>Current_Lead.Id</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Associate_Submission_To_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Submission_As_Orphan</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_MPL_ProductInterest__c</field>
            <value>
                <elementReference>var_ProductInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_RIT_SummaryOfAENotes__c</field>
            <value>
                <elementReference>var_SummaryAENotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_TF_Telegram__c</field>
            <value>
                <elementReference>var_Telegram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Calendly_Profile</name>
        <label>Calendly Profile</label>
        <locationX>1898</locationX>
        <locationY>3648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly_Profile_Filter_Metadata__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Email</name>
        <label>Get Contact (Email)</label>
        <locationX>1056</locationX>
        <locationY>3216</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_SFID</name>
        <label>Get Contact (SFID)</label>
        <locationX>538</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_SFID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Lead_SFID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__SalesforceId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>974</locationX>
        <locationY>3756</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Email</name>
        <label>Get Lead (Email)</label>
        <locationX>1535</locationX>
        <locationY>3432</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Current_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_SFID</name>
        <label>Get Lead (SFID)</label>
        <locationX>1027</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists_SFID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Questions_Answers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__SalesforceId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Current_Lead</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions_Answers</name>
        <label>Get Questions/Answers</label>
        <locationX>1741</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Answers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__CalendlyRoutingFormSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Calendly__CalendlyRoutingFormQuestionsAnswers__c</object>
        <outputReference>Current_Questions_Answers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Calendly__Type__c</queriedFields>
        <queriedFields>Calendly__Question__c</queriedFields>
        <queriedFields>Calendly__Answer__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Submission_To_Contact</name>
        <label>Associate Submission To Contact</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Calendly__Contact__c</field>
            <value>
                <elementReference>Current_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Submission_To_Lead</name>
        <label>Associate Submission To Lead</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Calendly__Lead__c</field>
            <value>
                <elementReference>Current_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Not necessary, but fault path needs an action to proceed with processing the record</description>
        <name>Set_Submission_As_Orphan</name>
        <label>Set Submission As Orphan</label>
        <locationX>1898</locationX>
        <locationY>3972</locationY>
        <inputAssignments>
            <field>Calendly__Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__Lead__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>Calendly__CreateRoutingFormLeadTemplate</sourceTemplate>
    <start>
        <locationX>706</locationX>
        <locationY>0</locationY>
        <object>Calendly__CalendlyRoutingFormSubmission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SFID_Exists</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Admin_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Current_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Current_Questions_Answers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendly__CalendlyRoutingFormQuestionsAnswers__c</objectType>
    </variables>
    <variables>
        <name>Lead_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>First Name Placeholder</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Last Name Placeholder</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_ProductInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SummaryAENotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Telegram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
