Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Calendly_Create_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Name_of_your_project_Assignment</name>
        <label>Name of your project Assignment</label>
        <locationX>138</locationX>
        <locationY>3096</locationY>
        <assignmentItems>
            <assignToReference>var_CompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormQuestionRespLoop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Telegram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Interest_Assignment</name>
        <label>Product Interest Assignment</label>
        <locationX>138</locationX>
        <locationY>3696</locationY>
        <assignmentItems>
            <assignToReference>var_ProductInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaProductInterest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_information_or_comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>270</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calendly_CalendlyRoutingFormSubmission_c</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>182</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitee_Last_Name_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summary_of_AE_Notes_Assignment</name>
        <label>Summary of AE Notes Assignment</label>
        <locationX>138</locationX>
        <locationY>3996</locationY>
        <assignmentItems>
            <assignToReference>var_SummaryAENotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormQuestionRespLoop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FormQuestionRespLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Telegram_Assignment</name>
        <label>Telegram Assignment</label>
        <locationX>138</locationX>
        <locationY>3396</locationY>
        <assignmentItems>
            <assignToReference>var_Telegram</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormQuestionRespLoop.Calendly__Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_you_are_interested_to_hear_more_of</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account</name>
        <label>Account?</label>
        <locationX>821</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Account</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_information_or_comments</name>
        <label>Additional information or comments:</label>
        <locationX>270</locationX>
        <locationY>3888</locationY>
        <defaultConnector>
            <targetReference>FormQuestionRespLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Additional_information_or_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormQuestionRespLoop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional information or comments:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary_of_AE_Notes_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Calendly_CalendlyRoutingFormSubmission_c_not_NULL</name>
        <label>Calendly__CalendlyRoutingFormSubmission__c not NULL</label>
        <locationX>182</locationX>
        <locationY>2664</locationY>
        <defaultConnector>
            <targetReference>Profile_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Calendly_CalendlyRoutingFormSubmission_c_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calendly_CalendlyRoutingFormSubmission_c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Questions_Responses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign</name>
        <label>Campaign?</label>
        <locationX>2090</locationX>
        <locationY>1464</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Campaign</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case</name>
        <label>Case?</label>
        <locationX>1550</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Find_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Case</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>2371</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contact</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract</name>
        <label>Contract?</label>
        <locationX>1818</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contract</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Profile_Exists</name>
        <label>Profile Exists?</label>
        <locationX>358</locationX>
        <locationY>4740</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Attendee_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Profile Not Found</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calendly_Profile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event</targetReference>
            </connector>
            <label>Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main goal of this flow is to create an Event ( a type of Activity ).  But we must create that Event within an existing record.

If all previous attempts at finding a record failed ( via SFID, or Invitee Email ): then we need to create a record.

We will always create a Lead when we couldn&apos;t find a record.</description>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>358</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Profile_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Create_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Event_Owner</name>
        <label>Event Owner?</label>
        <locationX>358</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Find_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner not Present</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalendlyLink</targetReference>
            </connector>
            <label>Event Owner Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invitee_Last_Name_Exists</name>
        <label>Invitee Last Name Exists?</label>
        <locationX>182</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Last Name</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calendly_CalendlyRoutingFormSubmission_c</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invitee_created</name>
        <label>Invitee created?</label>
        <locationX>4070</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitee_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFID_Provided</targetReference>
            </connector>
            <label>Invitee created</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot update a converted lead.  If the lead is converted, we need to try and find the contact it was converted to.</description>
        <name>Is_it_Converted</name>
        <label>Is it Converted?</label>
        <locationX>2470</locationX>
        <locationY>2004</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Active</defaultConnectorLabel>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadConvertedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead</name>
        <label>Lead?</label>
        <locationX>2668</locationX>
        <locationY>1896</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Lead</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>SFID matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_of_your_project</name>
        <label>Name of your project</label>
        <locationX>270</locationX>
        <locationY>2988</locationY>
        <defaultConnector>
            <targetReference>Telegram</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name_of_your_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormQuestionRespLoop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name of your project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_of_your_project_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity</name>
        <label>Opportunity?</label>
        <locationX>1284</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Find_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Opportunity</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Exists</name>
        <label>Profile Exists?</label>
        <locationX>182</locationX>
        <locationY>4356</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Profile_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Profile Not Found</defaultConnectorLabel>
        <rules>
            <name>Profile_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calendly_Profile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>578</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>System Admin Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_you_are_interested_to_hear_more_of</name>
        <label>Service you are interested to hear more of:</label>
        <locationX>270</locationX>
        <locationY>3588</locationY>
        <defaultConnector>
            <targetReference>Additional_information_or_comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Service_you_are_interested_to_hear_more_of</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormQuestionRespLoop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service you are interested to hear more of:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Interest_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Provided</name>
        <label>SFID Provided?</label>
        <locationX>2899</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFID</defaultConnectorLabel>
        <rules>
            <name>SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__ObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account</targetReference>
            </connector>
            <label>SFID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telegram</name>
        <label>Telegram</label>
        <locationX>270</locationX>
        <locationY>3288</locationY>
        <defaultConnector>
            <targetReference>Service_you_are_interested_to_hear_more_of</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Telegram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormQuestionRespLoop.Calendly__Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telegram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telegram_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>So there&apos;s no path forward if the system admin is not found.</description>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>402</locationX>
        <locationY>1248</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalendlyLink</targetReference>
            </connector>
            <label>System Admin Found</label>
        </rules>
    </decisions>
    <description>June 20 - Prev version is 4</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaProductInterest</name>
        <dataType>String</dataType>
        <expression>IF({!FormQuestionRespLoop.Calendly__Answer__c} == &apos;Private Program&apos;, &apos;Boost&apos;, IF({!FormQuestionRespLoop.Calendly__Answer__c} == &apos;Bug Bounty Subscription&apos;, &apos;Bug Bounty Program&apos;, {!FormQuestionRespLoop.Calendly__Answer__c}))</expression>
    </formulas>
    <interviewLabel>Calendly Create Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendly Create Event</label>
    <loops>
        <name>FormQuestionRespLoop</name>
        <label>FormQuestionRespLoop</label>
        <locationX>50</locationX>
        <locationY>2880</locationY>
        <collectionReference>Form_Questions_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_of_your_project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Profile_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>226</locationX>
        <locationY>4848</locationY>
        <connector>
            <targetReference>Create_Event_Attendee_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>50</locationX>
        <locationY>4464</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Profile_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>var_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_MPL_ProductInterest__c</field>
            <value>
                <elementReference>var_ProductInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_RIT_SummaryOfAENotes__c</field>
            <value>
                <elementReference>var_SummaryAENotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMM_TF_Telegram__c</field>
            <value>
                <elementReference>var_Telegram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Assigned_Calendly_User</name>
        <label>Assigned Calendly User</label>
        <locationX>358</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calendly_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__CalendlyLink__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyLink.Calendly__Url__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calendly_CalendlyRoutingFormSubmission_c</name>
        <label>Calendly__CalendlyRoutingFormSubmission__c</label>
        <locationX>182</locationX>
        <locationY>2556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calendly_CalendlyRoutingFormSubmission_c_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__FormSubmissionUUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__FormSubmissionUUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly__CalendlyRoutingFormSubmission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calendly_Profile</name>
        <label>Calendly Profile</label>
        <locationX>358</locationX>
        <locationY>1932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_a_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assigned_Calendly_User.Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly_Profile_Filter_Metadata__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CalendlyLink</name>
        <label>CalendlyLink</label>
        <locationX>358</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Calendly_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendly__CalendlyLink__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>821</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>2090</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>1550</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Contract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>2371</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>1818</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Campaign</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This lookup with find the converted contact, or set RecordId to null since the converted lead cannot be updated.</description>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>2338</locationX>
        <locationY>2112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Lead</name>
        <label>Find Lead</label>
        <locationX>2668</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>1284</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Profile</name>
        <label>Find Profile</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Publisher</name>
        <label>Find Publisher</label>
        <locationX>358</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>402</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Form_Questions_Responses</name>
        <label>Form Questions &amp; Responses</label>
        <locationX>50</locationX>
        <locationY>2772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormQuestionRespLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__CalendlyRoutingFormSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Calendly_CalendlyRoutingFormSubmission_c.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendly__CalendlyRoutingFormQuestionsAnswers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Calendly__CreateEventTemplate</sourceTemplate>
    <start>
        <locationX>1626</locationX>
        <locationY>0</locationY>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_invitee_created</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>After creating the Event, we now will add Additional Guests and hosts to it.</description>
        <name>Create_Event_Attendee_Template</name>
        <label>Create Event Attendee Template</label>
        <locationX>358</locationX>
        <locationY>5040</locationY>
        <flowName>Calendly__Create_Event_Attendee_Template</flowName>
        <inputAssignments>
            <name>Additional_Guests_Emails</name>
            <value>
                <elementReference>$Record.Calendly__AdditionalGuests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Additional_Hosts_Emails</name>
            <value>
                <elementReference>$Record.Calendly__AdditionalHosts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_ID</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Event_Attendee_Template</name>
        <label>Get Event Attendee Template</label>
        <locationX>2866</locationX>
        <locationY>2004</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <flowName>Calendly__Get_Event_Attendee_Template</flowName>
        <inputAssignments>
            <name>Event_Attendee_Email</name>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <name>Attendee_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <name>Owner_ID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SummaryAENotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Telegram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
