Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Create_Subscription_Opp_30_Days_Before_Contract_End_Date_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Renewal_Opp_Count_is_1</name>
        <label>Renewal Opp Count is 1</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_RenewalOppCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Renewal_Opps_Count_Assignment</name>
        <label>Renewal Opps Count Assignment</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_RenewalOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Renewal_Opps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RenewalOppCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_Today_30_days_prior_to_Contract_End_Date</name>
        <label>Date Today 30 days prior to Contract End Date?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Date_Today_30_days_prior_to_Contract_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaPrior30DaysCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Renewal_Opp</name>
        <label>Has Renewal Opp?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Renewal_Opp_Count_is_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Renewal_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Renewal_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Opps_Count_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaPrior30DaysCheck</name>
        <dataType>Boolean</dataType>
        <expression>({!$Record.IMM_DA_ContractEndDate__c} - {!$Flow.CurrentDate}) == 30</expression>
    </formulas>
    <formulas>
        <name>FormulaRenewalOppName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account.IsPersonAccount}, {!$Record.Account.FirstName} &amp; &apos; &apos; &amp;{!$Record.Account.LastName},{!$Record.Account.Name}) &amp; &apos; - Renewal #&apos;&amp;TEXT({!var_RenewalOppCount})</expression>
    </formulas>
    <interviewLabel>Create Subscription Opp 30 Days Before Contract End Date Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Subscription Opp 30 Days Before Contract End Date Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Subscription_Opp</name>
        <label>Create Subscription Opp</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Paid Lead Subscription</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaRenewalOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125j000000mmTLAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Renewal_Opps</name>
        <label>Renewal Opps</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Renewal_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>- Renewal #</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date_Today_30_days_prior_to_Contract_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125j000000mmTLAAY</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-28</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_RenewalOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
