Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/IMM_FL_RegenerateOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>This flow takes a closed lost opportunity and clones it so the AE can start the process anew</description>
    <environments>Default</environments>
    <interviewLabel>Immunefi: Regenerate Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: Regenerate Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_text</name>
        <label>Confirmation text</label>
        <locationX>610</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>IMM_SF_NewFromOld</targetReference>
        </connector>
        <fields>
            <name>ConfirmYes</name>
            <fieldText>&lt;p&gt;You are attempting to create a new opportunity based on an old ClosedLost one. If this is correct please proceed by clicking &quot;Yes&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>288</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Confirmation_text</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>IMM_SF_NewFromOld</name>
        <label>IMM_SF_NewFromOld</label>
        <locationX>343</locationX>
        <locationY>295</locationY>
        <flowName>IMM_FL_ImmunefiNewOppBasedonOld</flowName>
        <inputAssignments>
            <name>resourceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Holds the record ID of the current record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
