Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/IMM_FL_ImmunefiNewOppBasedonOld.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>IMM_AS_AssignCreatedRecordtoOutput</name>
        <label>Assign Created Record to Output</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTheBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_AssignRetrievedOpportunityToVariable</name>
        <label>Assign retrieved Opportunity to variable</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatesVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_SetIsNotBBPToTrue</name>
        <label>set is Not BBP to True</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_IsNotBBP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_IsNewOppCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>IMM_AS_SetOutputForNotClosedLost</name>
        <label>Set Output for not closed lost</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_IsClosedLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdatesVariable</name>
        <label>UpdatesVariable</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NURTURING: {!GetOpportunity.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_DA_LaunchDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_FF_NullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_LaunchDateConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_BBPPaused__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_QuestionnaireAccepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_SOWAccepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_DT_OnboardingCallBookedTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_FF_NullTimeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_OnboardingCallRejected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_LF_CXTeamMember__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_MarketingAnnouncementActivities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CB_PlaceontheBugBountyExplorePage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_PE_CommissionPercentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_WebAppCritical__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_WebAppHigh__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_WebAppLow__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_SmartDLTCritical__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_SmartDLTHigh__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_SmartDLTLow__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CU_SmartDLTMed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_PL_ChurnedReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_DA_BBPPausedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_FF_NullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_CUR_CurrentMaximumBounty__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.IMM_TF_ExternalID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_VR_NewCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_FF_NullTimeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_FF_NullTimeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_CreatedOpportunity.LastModifiedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IMM_DC_IsBBP</name>
        <label>Is BBP</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>IMM_AS_AssignRetrievedOpportunityToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_IsNotBBPOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>IMM_VR_BBPRT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_SetIsNotBBPToTrue</targetReference>
            </connector>
            <label>is Not BBP Opportunity</label>
        </rules>
        <rules>
            <name>IMM_OC_IsNotClosedLost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_SetOutputForNotClosedLost</targetReference>
            </connector>
            <label>Is Not Closed Lost</label>
        </rules>
    </decisions>
    <description>A flow to create a new oppty based on the closed lost one, used as a subflow in the Scheduled 90 day flow and the regenerate button</description>
    <environments>Default</environments>
    <formulas>
        <name>IMM_FF_NullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IMM_FF_NullTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IMM_VR_NewCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Immunefi: New Opp Based on Old {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: New Opp Based on Old</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewOpp</name>
        <label>CreateNewOpp</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>IMM_AS_AssignCreatedRecordtoOutput</targetReference>
        </connector>
        <inputReference>IMM_VR_CreatedOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IMM_DC_IsBBP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IMM_CB_InNurture__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loss_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unresponsive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CheckTheBox</name>
        <label>CheckTheBox</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resourceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IMM_CB_InNurture__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IMMM_SF_GetRTBBP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>IMMM_SF_GetRTBBP</name>
        <label>get record type BBP</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <flowName>IMM_FL_GetRecordType</flowName>
        <inputAssignments>
            <name>IMM_VR_DeveloperName</name>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IMM_VR_BBPRT</assignToReference>
            <name>IMM_RC_RecordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IMM_VR_BBPRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>IMM_VR_CreatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IMM_VR_IsClosedLost</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IMM_VR_IsNewOppCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IMM_VR_IsNotBBP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>resourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
