Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/IMM_FL_Notify_Finance_Team_Opportunity_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Finance_Team</name>
        <label>Notify Finance Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.IMM_EMA_NotifyFinanceGroupOnceStageOnboarding</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.IMM_EMA_NotifyFinanceGroupOnceStageOnboarding</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IMM_DC_IsManagedTriage</name>
        <label>Is Managed Triage</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Managed Triage</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_IsManagedTriage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IMM_RC_ManagedTriage.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Finance_Team</targetReference>
            </connector>
            <label>is Managed Triage</label>
        </rules>
    </decisions>
    <description>Notify Finance Team on Opportunity Onboarding</description>
    <environments>Default</environments>
    <interviewLabel>Immunefi : Notify Finance Team on Opportunity Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi : Notify Finance Team on Opportunity Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Managed_Triaged_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Managed_Triaged_Opportunity</name>
        <label>Get Managed Triaged Opportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>IMM_DC_IsManagedTriage</targetReference>
        </connector>
        <flowName>IMM_FL_GetRecordType</flowName>
        <inputAssignments>
            <name>IMM_VR_DeveloperName</name>
            <value>
                <stringValue>IMM_RT_ManagedTriage</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IMM_RC_ManagedTriage</assignToReference>
            <name>IMM_RC_RecordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IMM_RC_ManagedTriage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
