Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/IMM_FL_GetRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Export_Record_Type_Record</name>
        <label>Export Record Type Record</label>
        <locationX>536</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>IMM_RC_RecordType.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_GR_GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_RC_RecordType.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_GR_GetRecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_RC_RecordType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_GR_GetRecordType.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>get a record type record based on name, developername or Id</description>
    <environments>Default</environments>
    <interviewLabel>Immunefi: Utility - Get Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: Utility - Get Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>IMM_GR_GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>530</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Export_Record_Type_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IMM_VR_DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IMM_VR_RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IMM_VR_RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IMM_GR_GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IMM_RC_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>IMM_VR_DeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IMM_VR_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IMM_VR_RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
