Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/IMM_FL_CreateReviewProcesses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>IMM_AS_AddReviewToCollection</name>
        <label>Add New Review to Collection</label>
        <locationX>534</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_ReviewProcesses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IMM_VR_NewReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_LP_LoopDocumentsToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_AssignLegalReviewCount</name>
        <label>Assign Legal Review Count</label>
        <locationX>534</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_HasLegalReviewCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>IMM_FI_LegalReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_DC_DoCreateDocuments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_AssignLegalReviewRecordTypeId</name>
        <label>Assign Legal Review Record Type Id</label>
        <locationX>534</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_VR_LegalReviewRT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.IMM_PL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name}: Legal Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_AS_PopulateNewReview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_AssignTechnicalRecordTypeId</name>
        <label>Assign Technical Record Type Id</label>
        <locationX>270</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_VR_TechReviewRT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.IMM_PL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Questionnaire Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name}: Technical Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.IMM_DT_CompletedQuestionnaireReceived__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_VR_Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_AS_PopulateNewReview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_AssignTechnicalReviewCount</name>
        <label>Assign Technical Review Count</label>
        <locationX>270</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_TechnicalReviewCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>IMM_FI_TechnicalDocument</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_DC_DoCreateDocuments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_CreateLegalDocument</name>
        <label>Create Legal Document</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_DocumentsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Review_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_CreateTechnicalReview</name>
        <label>Create Technical Review</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_DocumentsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Technical Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_DC_HasLegalReview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IMM_AS_PopulateNewReview</name>
        <label>Populate New Review</label>
        <locationX>534</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.IMM_MD_OpportunityNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IMM_VR_NewReview.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IMM_VR_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IMM_AS_AddReviewToCollection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>IMM_FI_LegalReview</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Existing Legal Review</label>
        <locationX>534</locationX>
        <locationY>1571</locationY>
        <assignNextValueToReference>currentItem_IMM_FI_LegalReview</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Review_Processes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_IMM_FI_LegalReview.IMM_FF_RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Legal Review</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IMM_AS_AssignLegalReviewCount</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>IMM_FI_TechnicalDocument</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Existing Technical Document</label>
        <locationX>270</locationX>
        <locationY>1571</locationY>
        <assignNextValueToReference>currentItem_IMM_FI_TechnicalDocument_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Review_Processes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_IMM_FI_TechnicalDocument_0.IMM_FF_RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Technical Review</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IMM_AS_AssignTechnicalReviewCount</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>IMM_DC_CreateWhichDocument</name>
        <label>CreateWhichDocument</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_TechReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IMM_LP_LoopDocumentsToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_FI_TechnicalDocument</targetReference>
            </connector>
            <label>Tech Review</label>
        </rules>
        <rules>
            <name>IMM_OC_LegalReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IMM_LP_LoopDocumentsToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_FI_LegalReview</targetReference>
            </connector>
            <label>Legal Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>IMM_DC_DoCreateDocuments</name>
        <label>Do Create Documents</label>
        <locationX>534</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IMM_LP_LoopDocumentsToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_DoCreateTechnicalReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IMM_VR_TechnicalReviewCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IMM_LP_LoopDocumentsToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_AssignTechnicalRecordTypeId</targetReference>
            </connector>
            <label>Create Technical Review</label>
        </rules>
        <rules>
            <name>IMM_DC_CreateLegalReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IMM_VR_HasLegalReviewCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IMM_LP_LoopDocumentsToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_AssignLegalReviewRecordTypeId</targetReference>
            </connector>
            <label>Create Legal Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>IMM_DC_HasLegalReview</name>
        <label>Has Legal Review</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Get_Review_Processes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_HasLegalReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IMM_CB_SOWAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_CreateLegalDocument</targetReference>
            </connector>
            <label>Has Legal Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>IMM_DC_HasTechReview</name>
        <label>Has Tech Review</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>IMM_DC_HasLegalReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_HasTechReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IMM_CB_QuestionnaireAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AS_CreateTechnicalReview</targetReference>
            </connector>
            <label>Has Tech Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_RT_not_Boost</name>
        <label>Opp RT not Boost</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_RT_not_Boost_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Boost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_SFL_PopulateTechReviewVR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IMM_VR_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>IMM_FL_CreateReviewProcesses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: Create Review Processes</label>
    <loops>
        <name>IMM_LP_LoopDocumentsToCreate</name>
        <label>Loop Documents To Create</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <collectionReference>IMM_VR_DocumentsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IMM_DC_CreateWhichDocument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IMM_CR_CreateTechnicalReview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>IMM_CR_CreateTechnicalReview</name>
        <label>Create Technical Review</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <inputReference>IMM_VR_ReviewProcesses</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Review_Processes</name>
        <label>Get Review Processes</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IMM_LP_LoopDocumentsToCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IMM_MD_OpportunityNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IMM_CO_ReviewProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_RT_not_Boost</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>IMM_CB_QuestionnaireAccepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IMM_CB_SOWAccepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>IMM_SFL_PopulateLegalReviewVR</name>
        <label>Get Legal Review Record Type</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>IMM_DC_HasTechReview</targetReference>
        </connector>
        <flowName>IMM_FL_GetRecordType</flowName>
        <inputAssignments>
            <name>IMM_VR_DeveloperName</name>
            <value>
                <stringValue>IMM_RT_LegalReview</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IMM_VR_LegalReviewRT</assignToReference>
            <name>IMM_RC_RecordType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IMM_SFL_PopulateTechReviewVR</name>
        <label>Get Tech Review Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>IMM_SFL_PopulateLegalReviewVR</targetReference>
        </connector>
        <flowName>IMM_FL_GetRecordType</flowName>
        <inputAssignments>
            <name>IMM_VR_DeveloperName</name>
            <value>
                <stringValue>IMM_RT_TechnicalReview</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IMM_VR_TechReviewRT</assignToReference>
            <name>IMM_RC_RecordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_IMM_FI_LegalReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <name>currentItem_IMM_FI_TechnicalDocument_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <description>a collection of documents to create</description>
        <name>IMM_VR_DocumentsToCreate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IMM_VR_HasLegalReviewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IMM_VR_LegalReviewRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>IMM_VR_NewReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <name>IMM_VR_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IMM_VR_ReviewProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IMM_CO_ReviewProcess__c</objectType>
    </variables>
    <variables>
        <name>IMM_VR_TechnicalReviewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IMM_VR_TechReviewRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
