Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Immunefi_Notify_Finance_Team_on_Opportunity_Onboarding_Copy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Finance_Team_NEW</name>
        <label>Notify Finance Team NEW</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Notify_Finance_Team_Group_Once_Opportunity_Stage_is_Onboarding_NEW</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notify_Finance_Team_Group_Once_Opportunity_Stage_is_Onboarding_NEW</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IsBoost</name>
        <label>Is Boost</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Boost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Finance_Team_NEW</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Immunefi : Notify Finance Team on Boost Opportunity Onboarding</description>
    <environments>Default</environments>
    <interviewLabel>Immunefi : Notify Finance Team on Opportunity Onboarding Copy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi : Notify Finance Team on Boost Opportunity Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBoost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IMM_RC_ManagedTriage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
