Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Immunefi_Send_Email_To_CX_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IMM_AC_NotifyCxTeamMember</name>
        <label>Notify Cx Team Member</label>
        <locationX>533</locationX>
        <locationY>739</locationY>
        <actionName>Opportunity.IMM_EMA_NotifyCXTeamMember</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.IMM_EMA_NotifyCXTeamMember</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IMM_DC_IsManagedTriage</name>
        <label>Is Managed Triage</label>
        <locationX>532</locationX>
        <locationY>537</locationY>
        <defaultConnectorLabel>Not Managed Triage</defaultConnectorLabel>
        <rules>
            <name>IMM_OC_IsManagedTriage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IMM_RC_ManagedTriage.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IMM_LF_CXTeamMember__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMM_AC_NotifyCxTeamMember</targetReference>
            </connector>
            <label>Is Managed Triage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Immunefi: Send Email To CX Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: Send Email To CX Team Member(Obsolete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IMM_SF_GetManagedTriageRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IMM_LF_CXTeamMember__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </filters>
        <filters>
            <field>IMM_LF_CXTeamMember__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>IMM_SF_GetManagedTriageRecordType</name>
        <label>Get Managed Triage Record Type</label>
        <locationX>538</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>IMM_DC_IsManagedTriage</targetReference>
        </connector>
        <flowName>IMM_FL_GetRecordType</flowName>
        <inputAssignments>
            <name>IMM_VR_DeveloperName</name>
            <value>
                <stringValue>IMM_RT_ManagedTriage</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IMM_RC_ManagedTriage</assignToReference>
            <name>IMM_RC_RecordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IMM_RC_ManagedTriage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
