Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Immunefi_Auto_Close_BBP_Opportunity_After_60_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Opp_record_To_Update</name>
        <label>Assign Opp record To Update</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>OppRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Records_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Field</name>
        <label>Map Field</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Closed After 60 Days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Records_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opp_record_To_Update</targetReference>
        </connector>
    </assignments>
    <description>To update the BBP Opportunity stage to &apos;Closed Lost&apos; with Loss Reason: &apos;Auto-Closed After 60 Days&apos; when the field Duration is &gt;= 60 and Stage != &apos;Closed Won&apos; or &apos;Closed Lost&apos;</description>
    <environments>Default</environments>
    <interviewLabel>Immunefi: Auto-Close BBP Opportunity After 60 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Immunefi: Auto-Close BBP Opportunity After 60 Days</label>
    <loops>
        <name>Loop_Opp_Records_to_Update</name>
        <label>Loop Opp Records to Update</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opp_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BBP_Id</name>
        <label>Get BBP Id</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IMM_RT_BugBountyProgram</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Records_to_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>IMM_FF_Duration__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BBP_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Records</name>
        <label>Opp Records</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>OppRecordstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BBP_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-10</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
