Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Lead_Campaign_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <actionName>SendEmailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_email_sent_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_email_template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>get_lead.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordId</name>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailInvocable</nameSegment>
        <outputParameters>
            <assignToReference>v_emailOutcome</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_to_list</name>
        <label>add to list</label>
        <locationX>270</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_leadCampaignProcessRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_default_email_sending</name>
        <label>assign default email sending</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>v_defaultLeadCamProcess.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_defaultLeadCamProcess.Email_template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_campaign_process.Default_Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_defaultLeadCamProcess.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_defaultLeadCamProcess.Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_defaultLeadCamProcess</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_campaign_process_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_lead_campaign_process</name>
        <label>assign lead campaign process</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessRecord.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessRecord.Email_template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_line_items.Email_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_leadCampaignProcessRecord.Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_sendDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_email_sent_success</name>
        <label>check email sent success</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>error4display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_emailOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>success</targetReference>
            </connector>
            <label>is success</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_email_template_is_exist</name>
        <label>check email template is exist</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>error3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>email_template_is_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_email_template.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_default_email_sending</targetReference>
            </connector>
            <label>email template is exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_lead_is_exist</name>
        <label>check lead is exist</label>
        <locationX>1056</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_lead_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_lead.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Campaign_Processes</targetReference>
            </connector>
            <label>is lead exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_process_is_set_up</name>
        <label>check process is set up</label>
        <locationX>743</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>error2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_campaign_process.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_email_template</targetReference>
            </connector>
            <label>is exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CampaignProcessesOption</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Email_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign_Process__mdt</object>
        <outputAssignments>
            <assignToReference>campaignProcess</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>v_sendDate</name>
        <dataType>Date</dataType>
        <expression>CASE(
 WEEKDAY(TODAY()),
  1, (TODAY()) + {!loop_line_items.Frequency__c} + 
      FLOOR(({!loop_line_items.Frequency__c}-1)/5)*2,
  2, (TODAY()) + {!loop_line_items.Frequency__c} + 
      FLOOR(({!loop_line_items.Frequency__c})/5)*2,
  3, (TODAY()) + {!loop_line_items.Frequency__c} + 
      FLOOR(({!loop_line_items.Frequency__c}+1)/5)*2,
  4, (TODAY()) + {!loop_line_items.Frequency__c} + 
      FLOOR(({!loop_line_items.Frequency__c}+2)/5)*2,
  5, (TODAY()) + {!loop_line_items.Frequency__c} + 
      FLOOR(({!loop_line_items.Frequency__c}+3)/5)*2,
  6, (TODAY()) + {!loop_line_items.Frequency__c} + 
      CEILING(({!loop_line_items.Frequency__c})/5)*2,
  7, (TODAY()) - IF({!loop_line_items.Frequency__c}&gt;0,1,0) + {!loop_line_items.Frequency__c} + 
      CEILING(({!loop_line_items.Frequency__c})/5)*2,
 null)</expression>
    </formulas>
    <interviewLabel>Lead Campaign Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Lead Campaign Process</label>
    <loops>
        <name>loop_line_items</name>
        <label>loop line items</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <collectionReference>get_campaign_process_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_lead_campaign_process</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_lead_campaign_process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_lead_campaign_process</name>
        <label>create lead campaign process</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <inputReference>v_leadCampaignProcessList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_campaign_process</name>
        <label>get campaign process</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_process_is_set_up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignProcess</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Process__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_campaign_process_line_items</name>
        <label>get campaign process line items</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_campaign_process.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign_Process_Line_Item__mdt</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_email_template</name>
        <label>get email template</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_email_template_is_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>emailTemplateError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_campaign_process.Default_Email_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_lead</name>
        <label>get lead</label>
        <locationX>1056</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_lead_is_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>emailTemplateError</name>
        <label>emailTemplateError</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>emailTemplateErrorMessage</name>
            <fieldText>&lt;p&gt;The {!get_campaign_process.Default_Email_Template__c} email template is not set up or you don&apos;t have the permission to access email templates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error1</name>
        <label>error1</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error1msg</name>
            <fieldText>&lt;p&gt;Not a valid lead record id.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error2</name>
        <label>error2</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error2msg</name>
            <fieldText>&lt;p&gt;Campaign process is not set up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error3</name>
        <label>error3</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error3msg</name>
            <fieldText>&lt;p&gt;The email template is not set up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error4display</name>
        <label>error4display</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error4</name>
            <fieldText>&lt;p&gt;The email is not sent, please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Campaign_Processes</name>
        <label>Select Campaign Processes</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_campaign_process</targetReference>
        </connector>
        <fields>
            <name>Lead_Campaign_Processes</name>
            <choiceReferences>CampaignProcessesOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Campaign Processes</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success</name>
        <label>success</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successmsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The email has been sent!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>930</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignProcess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Campaign_Process_1</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_defaultLeadCamProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Campaign_Process__c</objectType>
    </variables>
    <variables>
        <name>v_emailOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_leadCampaignProcessList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Campaign_Process__c</objectType>
    </variables>
    <variables>
        <name>v_leadCampaignProcessRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead_Campaign_Process__c</objectType>
    </variables>
</Flow>
