Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Multiselect_Parser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Extracted_Value_to_List</name>
        <label>Add Extracted Value to List</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>extractedPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_Picklist_Values</name>
        <label>Extract Picklist Values</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOnePicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Picklist_Values_Assignment</name>
        <label>Formatted Picklist Values Assignment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>formattedPicklistValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaRemoveBracketsAndAddSemiColon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_Value_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedPicklistValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedPicklistValues} , 
              FIND(
                     &quot;;&quot;,{!formattedPicklistValues}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>formulaRemoveBracketsAndAddSemiColon</name>
        <dataType>String</dataType>
        <expression>{!rawMultiSelectPicklistValues}&amp;&apos;;&apos;</expression>
    </formulas>
    <formulas>
        <name>removeOnePicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedPicklistValues},  {!formulaOnePicklistValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Multiselect Parser {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Multiselect Parser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Formatted_Picklist_Values_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>formattedPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawMultiSelectPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
