Sandbox/Immunefi - 20-11-2024/force-app/main/default/flows/Opportunity_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recordtype_on_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Subscription_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Name_contains_Renewal</targetReference>
            </connector>
            <label>Recordtype on Subscription?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Name_contains_Renewal</name>
        <label>If Name contains Renewal</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Auto_Name_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_If_Name_contains_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue> - Renewal #</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_Invoice_from_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opps_from_Multiple_Lead_Product_Interests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubscriptionName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &apos; - Subscription&apos;</expression>
    </formulas>
    <interviewLabel>Opportunity (After Save) Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (After Save) Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscription_Record_Type</name>
        <label>Get Subscription Record Type</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Name_Opportunity</name>
        <label>Auto Name Opportunity</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SubscriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Invoice_from_Opportunity</name>
        <label>Create Invoice from Opportunity</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <flowName>Create_Invoice_from_Opportunity_Flow</flowName>
        <inputAssignments>
            <name>var_PriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Opps_from_Multiple_Lead_Product_Interests</name>
        <label>Create Opps from Multiple Lead Product Interests</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Boost_RT_to_Converted_Opp</targetReference>
        </connector>
        <flowName>Create_Opps_from_Multiple_Lead_Product_Interests_Flow</flowName>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Boost_RT_to_Converted_Opp</name>
        <label>Set Boost RT to Converted Opp</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Subscription_Record_Type</targetReference>
        </connector>
        <flowName>Set_Boost_to_Converted_Opp_Flow</flowName>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
